body{
    background: lightgrey;
    overflow: hidden;
}

#gameArea {
    margin: 0;
    background-color: gray;
    width: 80vw;
    height: 37vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

#player1Result {
    position: absolute;
    margin-left: 10vw;
    margin-top: 1vw;
}

#player2Result {
    position: absolute;
    margin-left: 87vw;
    margin-top: 1vw;
}


@keyframes rotateMe {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
